.btn {
  box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);

  &.btn-primary {
    --bs-btn-hover-bg: #3F4A4D;
  }

  &.btn-secondary {
    --bs-btn-hover-bg: #CFD8D5;
  }

  &.btn-white {
    --bs-btn-hover-bg: #F6F6F6;
  }

  &.btn-white,
  &.btn-primary-light {
    --bs-btn-color: var(--bs-primary);
  }
  &.btn-outline-secondary {
    --bs-btn-color: var(--bs-gray-500);
  }
  &.btn-outline-danger:hover {
    --bs-btn-hover-color: var(--bs-white);
  }
}

// .table-white 與 btn-outline-primary:hover 樣式衝突
.table.table-white .btn-outline-primary:hover {
  background-color: var(--bs-primary);
}