// focus 樣式
.swal2-default-outline:focus {
  box-shadow: 0 0 3px 3px rgba(71, 88, 92, .2) !important;
}

div:where(.swal2-container) button:where(.swal2-close):focus {
  box-shadow: none !important;
  color: #f27474;
}

div:where(.swal2-container) button:where(.swal2-styled).btn-outline-secondary {
  color: inherit !important;
}