.swiper {
  // 顯示溢出swiper容器的css樣式(陰影)
  padding-left: 16px !important;
  padding-right: 16px !important;
  margin-left: -16px !important;
  margin-right: -16px !important;
  padding-bottom: 16px !important;

  // mobile
  @include mobile {
    &.mobile-style {
      padding-bottom: 48px;

      .swiper-wrapper {
        flex-direction: column;
        justify-content: center;
        transform: translate3d(0px, 0px, 0px) !important; // 保持原位
      }

      .swiper-slide {
        margin-bottom: 24px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  // 單一視窗非滿版時
  &.reviews-swiper {
    .swiper-slide>* {
      min-height: 360px;
      max-width: 319px;

      @include mobile {
        margin-left: calc(50% - 159.5px);
      }

      @include pad {
        margin-left: 8px; // 可優化
        margin-right: 8px;
      }
    }
  }
}

// swiper-pagination
.swiper-horizontal {
  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    opacity: 1;
    background: $secondary;

    @include pad {
      background: $white;
    }

    &.swiper-pagination-bullet-active {
      background: $primary;
    }
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-scrollbar-bottom, 0px);
  }
}

// swiper-button
.swiper-button {

  &-prev,
  &-next {

    // top: 50%;
    @include pad {
      display: none !important;
    }


    &::after {
      --swiper-navigation-size: 36px;
      color: $primary;
      background: $white;
      padding: 4px;
      border-radius: 50%;
      font-family: 'Material Symbols Rounded' !important;
      box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);

      @include wed-xl {
        padding: 8px;
        --swiper-navigation-size: 48px;
      }
    }
  }

  &-prev {
    left: var(--swiper-navigation-sides-offset, -5%) !important;

    &::after {
      content: '\e5cb' !important;
    }
  }

  &-next {
    right: var(--swiper-navigation-sides-offset, -5%) !important;

    &::after {
      content: '\e5cc' !important;
    }
  }
}