.swiper {
  &-slide {
    & > * {
      min-height: 360px;
      max-width: 319px;
      @include mobile {
        margin-left: calc(50% - 159.5px);
      }
      @include pad {
        // 可優化
        margin-left: 8px;
        margin-right: 8px;
      }
    }
    &-active {
      visibility: visible;
    }
  }
}
.swiper-horizontal {
  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    opacity: 1;
    background: $secondary;
    @include pad {
      background: $white;
    }
    &.swiper-pagination-bullet-active {
      background: $primary;
    }
  }
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-scrollbar-bottom, 0px);
  }
}