.bg-cricle {
  position: relative;
  .bg-position {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .bg-design {
    overflow: hidden;
    display: flex;
    justify-content: center; // 讓 design 部分置中
    & > * {
      border-radius: 50%;
      flex-shrink: 0; // 取消 flex 自動縮小
      height: 2800px;
      width: 2800px;
      position: relative;
    }
  }
}