.bg-cricle {
  position: relative;
  .bg-position {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .bg-design {
    overflow: hidden;
    display: flex;
    justify-content: center; // 讓 design 部分置中
    & > * {
      border-radius: 50%;
      flex-shrink: 0; // 取消 flex 自動縮小
      height: 2800px;
      width: 2800px;
      position: relative;
    }
  }
}
// 首頁圖片背景
.bg-img {
  background: linear-gradient(rgba(var(--bs-primary-rgb), 0.6), rgba(var(--bs-secondary-rgb), 0.6)), url(images/backplance.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-width: 1200px) {
    background: none;
  }
  .bg-oval {
    z-index: -1;
    background: linear-gradient(rgba(var(--bs-primary-rgb), 0.6), rgba(var(--bs-secondary-rgb), 0.6)), url(images/backplance.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 2200px;
    height: 850px;
    border-radius: 425px;
  }
}
// 首頁 dash 背景
.bg-dash {
  z-index: 0;
  position: absolute;
  top: 120px;
  left: 0px;
  width: 30%;
  height: 340px;
  border-top-right-radius: 680px;
  border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}
.bg-dash.sec {
  width: 70%;
  top: 460px;
  left: 30%;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 680px;
  border: none;
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}
