// style
.border-dashed {
  border-style: dashed !important;
}
.border-base {
  --bs-border-width: 2px; 
  --bs-border-style: dashed;
  --bs-border-color: var(--bs-primary);
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
.border-bottom-base {
  --bs-border-width: 2px; 
  --bs-border-style: dashed;
  --bs-border-color: var(--bs-primary);
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
.border-top-base {
  --bs-border-width: 2px; 
  --bs-border-style: dashed;
  --bs-border-color: var(--bs-primary);
  border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

// rounded
.rounded-6 {
  border-radius: 28px;
}
.rounded-7 {
  border-radius: 40px;
}

// RWD
@include pad {
  .rounded-md-6 {
    border-radius: 28px !important;
  }
  .rounded-md-7 {
    border-radius: 40px !important;
  }
  .rounded-start-md-5 {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: var(--bs-border-radius-xxl) !important;
    border-top-left-radius: var(--bs-border-radius-xxl) !important;
  }
}
@include wed {
  .rounded-lg-6 {
    border-radius: 28px !important;
  }
  .rounded-lg-7 {
    border-radius: 40px !important;
  }
}