small,
.small {
  font-size: $font-size-sm;
}

// style
.title {
  text-align: center;

  span {
    display: inline-block;
    padding-bottom: 16px;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    border-color: $gray-600;
  }
}

.font-order {
  font-size: $h1-font-size  !important;
  font-weight: $font-weight-bold;
  line-height: $line-height-base;

  @include wed {
    font-size: 64px !important;
  }
}

// 麵包屑
.breadcrumb {
  line-height: $line-height-lg;
  font-weight: $font-weight-semibold;
}

// RWD
@include pad {

  @each $number,
  $size in $font-sizes {
    .fs-md-#{$number} {
      font-size: $size  !important;
    }
  }
}

@include wed {

  @each $number,
  $size in $font-sizes {
    .fs-lg-#{$number} {
      font-size: $size  !important;
    }
  }
}

@include wed-xl {

  @each $number,
  $size in $font-sizes {
    .fs-xl-#{$number} {
      font-size: $size  !important;
    }
  }
}