.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  &.icon-fill {
    font-variation-settings: "FILL" 1,;
  }
  &.icon-favorite {
    font-size: 40px;
    color: $white;
    &:hover {
      font-variation-settings: "FILL" 1,;
      color: $danger;
    }
  }
}