.material-symbols-outlined {
  vertical-align: text-top;
  line-height: 1;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;

  &.icon-lg {
    font-size: $h4-font-size;
  }

  &.icon-fill {
    font-variation-settings: "FILL" 1;
  }

  &.icon-favorite {
    font-size: 40px;
    color: $white;

    &:hover {
      font-variation-settings: "FILL" 1;
      color: $danger;
    }
  }
}

.icon-e::after,
.icon-lg-e::after {
  font-family: "Material Symbols Outlined";
  vertical-align: top;
  line-height: 1;
  font-weight: 400;
  font-size: 24px;
  margin-left: 4px;
}

.icon-lg-e::after {
  font-size: 28px;
  margin-left: 16px;
}

.icon-east::after {
  content: '\f1df';
}