.material-symbols-outlined {
  vertical-align: text-top;
  line-height: inherit;
  font-variation-settings: "FILL" 0, "GRAD" 0, "opsz" 48;

  &.icon-lg {
    font-size: $h4-font-size;
  }

  &.icon-fill {
    font-variation-settings: "FILL" 1;
  }

  &.icon-favorite {
    font-size: 40px;
    color: $white;

    &:hover {
      font-variation-settings: "FILL" 1;
      color: $danger;
    }
  }
}

.icon-e::after {
  font-family: "Material Symbols Outlined";
  vertical-align: text-bottom;
  line-height: inherit;
  font-weight: 400;
  font-size: inherit;
  margin-left: 4px;
}

.icon-east::after {
  content: '\f1df';
}