// Utilities

$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    "font-size": (
      // rfs: true,
      rfs: false,
      property: font-size,
      class: fs,
      values: $font-sizes
    ),
  ),
  $utilities
);
